/*--Feuille de style Cv */


/*--FONTS--*/
@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "DMSans-regular";
    src: url("../assets/fonts/DMSans-Regular.ttf");
}



/*--Général Styles--*/

:root {

    /*--TESTS TOOLS--*/

    --testColor-1: red;
    --testColor-2: blue;

    --testBorder-1: 2px solid red;
    --testBorder-2: 2px solid blue;

    /*GLOBAL COLORS--*/
    --mainColor-Primary: #6E5E73;
    --mainColor-Primary_dark: #4E5369;
    --mainColor-Primary_light: #8A6B76;
    --mainColor-Accent_Color: #2F4858;
    --shadowColor-Primary: #2f48588f;
    --shadowColor-Light: #2f48584b;

    --GlobalBorder-style: 4px solid #2F4858;
    --GlobalBorder-styleLight: 1px solid #2F4858;
    --BlankBorder-style: 0px solid transparent;


    /*--GLOBAL FONTS--*/

    --primaryFont-family: "roboto-regular";
    --secondaryFont-family: "DMSans-regular";

    /*--GLOBAL FONTS-styles-*/
    --basicFont-weight: "normal";
    --littleFont-size: 0.8em;
    --basicFont-size: 10px;
    --interFont-size: 1.5em;
    --middleFont-size: 2em;
    --bigFont-size: 4em;
    --colorFont-bright: #DFE0DF;
    --colorFont-dark: #4E5369;
}


/*--reset css--*/
* {
    /*--RESET OUTSIDE & INSIDE SPACING--*/
    margin: 0;
    padding: 0;

    /*--RESET BASIC FONTS--*/
    font-size: var(--basicFont-size);
    font-family: var(--primaryFont-family);
    font-weight: var(--basicFont-weight);
    color: var(--colorFont-dark)
}

/*--Text style settings--*/

/*--Titles--*/



/*--------------------------------------------BODY--------------------------------------------*/

body {


    /*--Outside Spacing--*/
    margin: auto;

    /*--Sizing--*/
    width: 100%;
    display: flex;
    flex-direction: column;

    /*--Colors--*/
    background-color: white;


}

/*--------------------------------------------HEADER--------------------------------------------*/



header {

    /*--Positionning--*/
    position: fixed;
    z-index: 2;

    /*--Display--*/
    display: flex;
    flex-direction: column;

    /*--Sizing--*/
    width: 100%;
    height: 20%;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_dark);

}

/*--header div id : upperHeader--*/

#upperHeader {

    /*--Positionning*/
    /* inherit from header.display:flex & header.flex-direction : column--*/

    /*--Display--*/
    display: flex;
    flex-direction: row;
    align-items: center;

    /*--Content Align--*/
    justify-content: space-evenly;

    /*--Sizing--*/
    height: 80%;


}

/*--header div img id : logo--*/

/*--logo--*/
#siteLogo {
    margin-left: 2em;
    width: 15%;


}

#logo {
    /*--Positionning*/

    /*inherit from upperHeader.display:flex & upperHeader.flex-direction :row & upperHeader.justify-content:space-evenly--*/

    /*--Ratio--*/
    max-width: 100%;
    height: auto;
}

/*--header div span id : sitetitle--*/

/*--title--*/

#siteTitle {
    /*--Sizing--*/
    width: 80%;


    /*--Outside Spacing--*/

    margin-left: 2em;

    /*--Text Formating--*/
    color: white;
}


/*  ----NAV BAR----



*/
#sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--mainColor-Primary_light);
    box-shadow: 0 10px 20px -4px #000;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, visibility 0.4s ease, transform 0.5s ease;
}

/* when the sideBar has 'show' class */
#sideBar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.sideBarContent {
    padding: 1rem 0;
    pointer-events: none;
    /* so that the sideBar does not get closed while clicking on sideBar_content */
}

.sideBarContent a {
    pointer-events: all;
    /* so that all the a inside sideBar_content are clickable */
}

.sideBarHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    background-color: var(--mainColor-Primary);



}

.sideBarHead h1 {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-size: var(--middleFont-size);
    color: var(--colorFont-bright);

}

.sideBarBody {
    height: 80%;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    border-top: 0.3px solid var(--colorFont-dark);
    border-bottom: 0.3px solid var(--colorFont-dark);
}

#sideNavlinks {
    width: 100%;
    height: 100%;

}

#navList {
    display: flex;
    flex-direction: column;
    align-items: left;


    width: 100%;
    height: 100%;


}

#navList li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5em;
    height: 100%;

    list-style-type: none;
    box-shadow: 0 5px 3px -4px #0000003d;
}

#navList li a {
    font-size: var(--middleFont-size);
    text-decoration: none;
    letter-spacing: 1px;

}

#navList a:hover {
    opacity: 1;
}

.subNavList {
    visibility: hidden;
}

/*
.sideBarFoot{  
}
*/
/*---- sideBar-Toggler ----*/
.sideBarToggler {
    position: fixed;
    top: 3em;
    right: 3em;
    width: 3em;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    overflow: hidden;
}

.sideBarToggler span {
    background-color: var(--mainColor-Primary_dark);
    width: 100%;
    height: 0.3em;
    transition: all 0.3s ease;
    pointer-events: none;
    /* so that it doesn't overlap the sideBar_toggler */
}

/* if the sideBar has 'show' class then their adjacent-sibling (i.e., sideBar_toggler) will... */
#sideBar.show+.sideBarToggler {
    justify-content: center;
}

#sideBar.show+.sideBarToggler span {
    margin-top: -1.2px;
    margin-bottom: -1.2px;
}

#sideBar.show+.sideBarToggler span:first-child {
    transform: rotate(45deg);
}

#sideBar.show+.sideBarToggler span:nth-child(2) {
    opacity: 0;
    transform: translateX(-100%);
}

#sideBar.show+.sideBarToggler span:last-child {
    transform: rotate(-45deg);
}

/*--------------------------------------------MAIN--------------------------------------------*/

main {

    
    /*--Positionning--*/
    position: fixed !important;
    top: 2%;
    left: 2%;

    /*--Sizing--*/
    width: 96%;
    height: 96%;

    /*-- Overlap element--*/
    z-index: -10;

    /*--Display- Scroll-*/
    overflow-x: scroll;
    overflow-x: hidden;

    /*--Background Formating--*/
    background-color: white;



}

/*--Main Scroll Hidden--*/

main::-webkit-scrollbar {
    display: none;

}

/*--Mainsections globals--*/

.mainSection {


    border: var(--GlobalBorder-styleLight);
    border-radius: 14px;


    /*--Sizing--*/
    width: 98%;
    height: 98%;


    /*--Inside Spacing--*/


    /*--Display- Scroll-*/
    overflow-x: hidden;
    overflow-y: scroll;

    /*--Colors--*/
    background-color: transparent;

}

/*--MainSection Scroll Hidden--*/

.mainSection::-webkit-scrollbar {

    display: none;
}

/*--subMainSection--*/

.subMainSection {

    /*--Size--*/
    width: 100%;
    height: 100%;

    /*--Outside Spacing--*/


    /*--Outside Spacing--*/
    margin-left: auto;
    margin-right: auto;


    /*--Colors--*/
    background-color: transparent;

 
}





/*--subMainTextSection Presentation/CompétencesInformations/Loisirs--*/




#presText{
   margin-top:  15%;
   height: 80%;


}

.subTitle {
    /*--Outside Spacing--*/
    margin-top: 2em;
    margin-left: 1em;
   
    /*--Text Formating--*/
    font-family: var(--secondaryFont-family);
    font-size: var(--bigFont-size);
}

.subContent {


    /*--Outside Spacing--*/
    margin-top: 2em;
    margin-left: 1.5em;
    ;

    /*--Text Formating--*/
    font-family: var(--secondaryFont-family);
    font-size: var(--interFont-size);

}



/*--MainSection Competences--*/
/*--Compétences menu--*/

#competences,
.compRow,
.fullCell,
.fullCell a,
#titleText {
    /*--Display--*/
    display: flex;

}

#competences {


    /*--Positionning--*/
    position: relative;

    /*--Content Align--*/
    flex-direction: column;

}



.compRow {
    /*--Content Align--*/
    justify-content: space-evenly;
    align-items: center;

    /*--Sizing--*/
    width: 100%;
    height: calc(100%/3);



}

.blankCell,
.fullCell {
    /*--Sizing--*/
    width: 100%;
    height: 100%;
    /*--Outside Spacing--*/
    margin: 0;

}

.fullCell,
.fullCell a {
    /*--Content Align--*/
    justify-content: center;
    align-items: center;




}



.fullCell a {
    /*--Sizing--*/
    width: 95%;
    height: 3em;

    /*--Text Formating--*/
    text-align: center;
    text-decoration: none;
    font-size: var(--interFont-size);

    /*--Border Formating--*/
    border-radius: 14px !important;
    color: var(--colorFont-bright);
    /*--Background Formating--*/
    background-color: var(--mainColor-Primary);


}

#titleCircle {
    /*--Positionning--*/
    position: absolute;


    /*--Display--*/
    display: block;
    z-index: 1;

    /*--Sizing & circle shaping--*/
    width: 100px;
    height: 100px;
    border-radius: 50%;

    /*--Background Formating--*/
    background-color: var(--mainColor-Primary_light);
}

#titleText {
    /*--Content Align--*/
    justify-content: center;
    align-items: center;
    z-index: 2;

    /*--Sizing--*/
    width: 100%;
    height: 70%;

    /*--Inside Spacing--*/
    padding: 0.5em;

    /*--Text Formating--*/
    color: var(--colorFont-bright);
    font-size: var(--interFont-size);
}



.illustrationArea {
    /*--Display--*/
    display: none;

}


/*--MainSection Parcours--*/

/*--Table--*/

#chronologie {

    /*--Display--*/
    display: flex;
    /*--Content Align--*/
    flex-direction: column;
    text-align: center;
    /*--Sizing--*/
    width: 96%;
    height: 96%;

    /*--Outside Spacing--*/
    margin-left: auto;
    margin-right: auto;




    /*--Colors--*/
    background-color: transparent !important;



}

table {



    table-layout: fixed;

    width: 100%;
    height: 100%;

    border-collapse: collapse;

}



thead th {

    height: 4em;

    background-color: var(--shadowColor-Primary);
    text-align: center;
    /*--Text Formating--*/
    font-size: var(--interFont-size);
}

#leftTh {
    border-radius: 16px 0 0 0;
}

#rightTh {

    border-radius: 0 16px 0 0;
}

thead th:nth-child(1) {


    width: 20%;


}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {

    width: 40%;
}


th,
td {
    text-align: left;
    padding-left: 10px;
}

td {

    /*--Text Formating--*/
    font-size: var(--interFont-size);
}

.tableRow:hover td {

    background-color: var(--mainColor-Primary_light);
    color: var(--colorFont-bright);

}

/*--------------------------------------------MAIN--------------------------------------------*/



/*--------------------------------------------FOOTER--------------------------------------------*/