/*--Feuille de style Cv */


/*--FONTS--*/
@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "DMSans-regular";
    src: url("../assets/fonts/DMSans-Regular.ttf");
}



/*--Général Styles--*/

:root {

    /*--TESTS TOOLS--*/

    --testColor-1: red;
    --testColor-2: blue;

    --testBorder-1: 2px solid red;
    --testBorder-2: 5px solid blue;

    /*GLOBAL COLORS--*/
    --mainColor-Primary: #0E8388;
    --mainColor-Primary_dark: #2E4F4F;
    --mainColor-Primary_light: #CBE4DE;
    --mainColor-Accent_Color: #2C3333;


    --GlobalBorder-style: 4px solid #2F4858;
    --GlobalBorder-styleLight: 1px solid #2F4858;
    --BlankBorder-style: 0px solid transparent;


    /*--GLOBAL FONTS--*/

    --primaryFont-family: "roboto-regular";
    --secondaryFont-family: "DMSans-regular";

    /*--GLOBAL FONTS-styles-*/
    --basicFont-weight: "normal";
    --littleFont-size: 0.8em;
    --basicFont-size: 12px;
    --interFont-size: 1.25em;
    --middleFont-size: 1.5em;
    --bigFont-size: 2em;
    --colorFont-bright: #DFE0DF;
    --colorFont-dark: #4E5369;
}


/*--reset css--*/
* {
    /*--RESET OUTSIDE & INSIDE SPACING--*/
    margin: 0;
    padding: 0;

    /*--RESET BASIC FONTS--*/
    font-size: var(--basicFont-size);
    font-family: var(--primaryFont-family);
    font-weight: var(--basicFont-weight);
    color: var(--colorFont-dark)
}

/*--mediaQuery--*/
/* X-Small devices (portrait phones, less than 576px)*/



/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }*/

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { }*/

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}*/

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }*/



/*--------------------------------------------BODY--------------------------------------------*/

body {


    /*--Outside Spacing--*/
    margin: auto;

    /*--Sizing--*/
    width: 100%;
    display: flex;
    flex-direction: column;

    /*--Colors--*/
    background-color: white;


}

/*--------------------------------------------HEADER--------------------------------------------*/



header {

    /*--Positionning--*/
    position: fixed;
    

    /*--Display--*/
    display: flex;
    flex-direction: column;
    

    /*--Sizing--*/
    width: 100%;
    height:8em;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_dark);

}
#navSection{
    display: none;

}

/*--header div id : bannerHeader--*/

#bannerHeader{

    display: flex;
    
}



/*--header div img id : logo--*/


/*--logo--*/
#siteLogo {
    display: flex;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    width: 10%;


}

#logo {
    /*--Positionning*/

    /*inherit from upperHeader.display:flex & upperHeader.flex-direction :row & upperHeader.justify-content:space-evenly--*/

    /*--Ratio--*/
    max-width: 100%;
    height: auto;
}

/*--header div span id : sitetitle--*/

/*--title--*/

#siteTitle {

    display: flex;
    align-items: center;
    margin-left: 0.5em;
    /*--Sizing--*/
    width: 100%;
    height: 100%;
    


    /*--Outside Spacing--*/



    /*--Text Formating--*/
    font-size: var(--bigFont-size);
    color: white;
}


/*  ----NAV BAR----



*/
#sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--mainColor-Primary_light);
    box-shadow: 0 10px 20px -4px #000;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, visibility 0.4s ease, transform 0.5s ease;
}

/* when the sideBar has 'show' class */
#sideBar.show {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}


.sideBarContent {
    padding: 1rem 0;
    pointer-events: none;
    /* so that the sideBar does not get closed while clicking on sideBar_content */
}

.sideBarContent a {
    pointer-events: all;
    /* so that all the a inside sideBar_content are clickable */
}

.sideBarHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    background-color: var(--mainColor-Primary);



}

.sideBarHead h1 {
    margin-left: 0.5em;
    text-transform: uppercase;
    font-size: var(--middleFont-size);
    color: var(--colorFont-bright);

}

.sideBarBody {
    height: 80%;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    border-top: 0.3px solid var(--colorFont-dark);
    border-bottom: 0.3px solid var(--colorFont-dark);
}

#sideNavlinks {
    width: 100%;
    height: 100%;

}

#asideNavList {
    display: flex;
    flex-direction: column;
    align-items: left;


    width: 100%;
    height: 100%;


}

#asideNavList li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5em;
    height: 100%;

    list-style-type: none;
    box-shadow: 0     3px 3px -4px #0000003d;
}

#asideNavList li a {
    font-size: var(--middleFont-size);
    text-decoration: none;
    letter-spacing: 1px;

}



/*
.sideBarFoot{  
}
*/
/*---- sideBar-Toggler ----*/
.sideBarToggler {
    position: fixed;
    
    top: 1em;
    right: 2em;
    width: 3em;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    overflow: hidden;
}

.sideBarToggler span {
    
    background-color: var(--mainColor-Primary_light);
    width: 100%;
    height: 0.2em;
    border: 52px solid var(--mainColor-light);
    transition: all 0.3s ease;
    pointer-events: none;
    /* so that it doesn't overlap the sideBar_toggler */
}

/* if the sideBar has 'show' class then their adjacent-sibling (i.e., sideBar_toggler) will... */
#sideBar.show+.sideBarToggler {
    justify-content: center;
}

#sideBar.show+.sideBarToggler span {
    margin-top: -1.2px;
    margin-bottom: -1.2px;
    
}

#sideBar.show+.sideBarToggler span:first-child {
    transform: rotate(45deg);
}

#sideBar.show+.sideBarToggler span:nth-child(2) {
    opacity: 0;
    transform: translateX(-100%);
}

#sideBar.show+.sideBarToggler span:last-child {
    transform: rotate(-45deg);
}



  .menu {position: fixed;
    right:  1em;

    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    z-index : 100;
  }

  
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
/*--------------------------------------------MAIN--------------------------------------------*/

main {


    /*--Positionning--*/
    position: fixed !important;
    top: 11%;
    

    /*--Sizing--*/
    width: 100%;
    height: 80%;

    /*-- Overlap element--*/
    z-index: -10;

    /*--Display- Scroll-*/
    overflow-x: scroll;
    overflow-x: hidden;

    margin-left: auto;
    margin-right: auto;

   margin-top: 0.5em;

    /*--Background Formating--*/
    background-color: white;



}

/*--Main Scroll Hidden--*/

main::-webkit-scrollbar {
    display: none;

}

/*--Mainsections globals--*/

.mainSection {
    display: flex;
    flex-direction: column;
    



    /*--Sizing--*/
    width: 98%;
    height: 97%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    /*--Inside Spacing--*/


    /*--Display- Scroll-*/
    overflow-x: hidden;
    overflow-y: scroll;

    /*--Colors--*/
    background-color: transparent;

}

/*--MainSection Scroll Hidden--*/

.mainSection::-webkit-scrollbar {

    display: none;
}

/*--subMainSection--*/
/*--MainSection Competences,Parcours,loisir,info,liens--*/

.subMainSection {

    width: 100%;
    height: 100%;


}
/*--Compétences menu--*/
#compMenu{
 margin-left: auto;
 margin-right: auto;


}
#compRowUp{

    margin-top: 2%;


}

.compRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 33%;
    
}

.cell{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 33%;
    height: 100%;
}
/*
.blankCell{

    background-color: var(--testColor-2);

}*/



.fullCell a{

margin-right: auto;
margin-left: auto;
width: 9em;
height :3em;
text-align: center;
line-height:3em;

 font-size: var(--interFont-size);
 font-weight: var(--basicFont-weight);
 color: var(--mainColor-Accent_Color);
 text-decoration: none;
 border: var(--GlobalBorder-styleLight);
 border-radius: 14px;
 background-color: var(--mainColor-Primary_light);

}




.subTitle {
    /*--Outside Spacing--*/
    margin-top: 2em;
    margin-left: 1em;
   
    /*--Text Formating--*/
    font-family: var(--secondaryFont-family);
    font-size: var(--middleFont-size);
}

.subContent {


    /*--Outside Spacing--*/
    margin-top: 2em;
    margin-left: 1.5em;
    ;

    /*--Text Formating--*/
    font-family: var(--secondaryFont-family);
    font-size: var(--interFont-size);

}




/*--MainSection Parcours--*/

/*--Table--*/

#chronologie {

    /*--Display--*/
    display: flex;
    /*--Content Align--*/
    flex-direction: column;
    text-align: center;
    /*--Sizing--*/
    width: 96%;
    height: 96%;

    /*--Outside Spacing--*/
    
    margin-left: auto;
    margin-right: auto;

    /*--Colors--*/
    background-color: transparent !important;



}

table {



    table-layout: fixed;

    width: 100%;
    height: 100%;

    border-collapse: collapse;

}



thead th {

    height: 4em;

    background-color: var(--mainColor-Primary_light);
    text-align: center;
    /*--Text Formating--*/
    font-size: var(--interFont-size);
}

#leftTh {
    border-radius: 16px 0 0 0;
}

#rightTh {

    border-radius: 0 16px 0 0;
}

thead th:nth-child(1) {


    width: 20%;


}

thead th:nth-child(2) {
    width: 40%;
}

thead th:nth-child(3) {

    width: 40%;
}


th,
td {
    text-align: left;
    padding-left: 10px;
}

td {

    /*--Text Formating--*/
    font-size: var(--basicFont-size);
}

.tableRow:hover td {
    font-size: var(--interFont-size);
    background-color: var(--mainColor-Primary);
    color: white;

}


/*--------------------------------------------FOOTER--------------------------------------------*/

#foot{
    /*--Positionning--*/
    bottom: 0;
    position: fixed;
    z-index: 0;

    /*--Display--*/
    display: flex;
    justify-content: right;
    align-items: center;
   

    /*--Sizing--*/
    width: 100%;
    height:10%;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_dark);
 
}
.footIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    width: 10%;
    color: white;
    font-size: var(--littleFont-size);

}

.footIcon img {
    /*--Positionning*/

    /*inherit from upperHeader.display:flex & upperHeader.flex-direction :row & upperHeader.justify-content:space-evenly--*/

    /*--Ratio--*/
    max-width: 100%;
    height: auto;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 768px) { 

    :root {


    
        --primaryFont-family: "roboto-regular";
        --secondaryFont-family: "DMSans-regular";
    
        /*--GLOBAL FONTS-styles-*/
        --basicFont-weight: "normal";
        --littleFont-size: 0.8em;
        --basicFont-size: 18px;
        --interFont-size: 1.25em;
        --middleFont-size: 1.5em;
        --bigFont-size: 2em;

    }
   
    .menu{
        display: none;
       
    }

    #sideBar{
        display: none;
  
    }



    /*--header div img id : logo--*/

/*--logo--*/



#siteLogo {
    margin-top: 1em;
    margin-left: 1em;
    width: 12%;


}

#logo {
    /*--Positionning*/

    /*inherit from upperHeader.display:flex & upperHeader.flex-direction :row & upperHeader.justify-content:space-evenly--*/

    /*--Ratio--*/
    max-width: 100%;
    height: auto;
}

/*--header div span id : sitetitle--*/

/*--title--*/

#siteTitle {


    margin-left:2em;
    /*--Sizing--*/
    width: 100%;
    height: 100%;
    


    /*--Outside Spacing--*/



    /*--Text Formating--*/
    
    font-size: var(--bigFont-size);
    color: white;
}

#navSection {
   display: inline;
    
    /*--Sizing--*/
    width: 100%;
    height: 20%;

    /*--Outside Spacing--*/
    margin: 0 auto;


}

#navSection a {
    /*--Positionning--*/
    display: block;

    /*--Inside Spacing--*/
    padding: 10px 0px;



    /*--Text Formating--*/
    text-decoration: none;
    color: white;

    /*--Border Formating--*/
    border-bottom: 2px solid transparent;

}

/*--navSection behaviour on mouse over--*/

#navSection a:hover {

    /*--Text Formating--*/
    color: black;
    ;
    /*-- Border Formating--*/
    border-bottom: 1px solid black;

    /*--Colors--*/
    background-color: var(--mainColor-Primary_light);
}


#navList,
.subNavList {
    /*--Text Formating--*/
    list-style: none;

}


.navItem {
    /*--Positionning--*/
    float: left;

    /*--Sizing--*/
    /*!! add a divider for each item added!!*/
    width: calc(100%/5);

    /*--Outside Spacing--*/
    margin-top: 0%;
    margin-bottom: 0%;

    /*--Colors--*/
    background-color: var(--mainColor-Primary);

    /*--Text Formating--*/
    text-align: center;

}



/*--
    Imported Code :
    source :https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-horizontal-sticky/

    "Comme on applique un float : left à tous nos éléments de liste,
     nous allons également utiliser le clearfix avec le pseudo-élément ::after
     que nous allons appliquer à la liste en soi pour éviter que sa hauteur ne soit nulle."
    
    --*/
#navList::after {

    content: "";
    display: table;
    clear: both;
}

/*--SubMenu Behaviour--*/

.subNavList {
    /*--Display--*/
    /*--Sub Menu is hidden--*/
    display: none;
    
}
/*Bcp de problemes de nav !!*/
.subNavItem a{


}

nav>ul li:hover .subNavList {
    /*--Display--*/
    /*--Sub menu developps--*/
    background-color: var(--mainColor-Primary_light);
    color: var(--mainColor-Primary_dark);
    display: block;
}
/*---------------------------MAIN------------------*/
main {


    top: 20%;
    width: 98%;
    height: 67%;
    margin-left: 0.4em;
    
    

  
    border: var(--testBorder-2);



}

 }